* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-primrary: #ED4D1B;
    --color-secondary: #FF9A3C;
    -color-black: #000;
    --color-white: #fff;
}

body {
    background: linear-gradient(90deg, #ffE7D1 0%, #FFF2E6 100%);
    padding: 0 1rem;
}

span {
    color: var(--color-primrary);
}